$navbarHeight: 64px;
$footerHeight: 50px;
$h: $navbarHeight + $footerHeight;

.layout-logo{
  width: 100px;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-nav{
  width: 420px;
  margin: 0 auto;
}
.layout-footer-center{
  text-align: center;
}
.ivu-layout-footer{
  background: #f5f7f9;
  height: $footerHeight;
  color: #515a6e;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-logo span{
  color: #fff;
  display: inline;
  line-height: 17px;
  font-size: 17px;
}

.content{
  width: 100vw;
  height: calc(100vh - #{$h});
  position: fixed;
  top: $navbarHeight;
}
