html, body{
  height: 100vh;
}

$navbarHeight: 64px;
$footerHeight: 50px;
$h: $navbarHeight + $footerHeight;
$contentColor: #515a6e;
$titleColor: #17233d;
$SubColor: #808695;
$disabledColor: #c5c8ce;
$borderColor: #dcdee2;
$dividerColor: #e8eaec;
$backgorundColor: #f8f8f9;
$primaryColor: #2d8cf0;
$lightPrimaryColor: #5cadff;
$darkPrimaryColor: #2b85e4;
$info: #2db7f5;
$success: #19be6b;
$warning: #ff9900;
$error: #ed4014;

.layout-footer-center{
  text-align: center;
}
.ivu-layout-footer{
  background: #fff;
  height: $footerHeight;
  color: $contentColor;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content{
  width: 100vw;
  height: calc(100vh - #{$h});
  position: fixed;
  top: $navbarHeight;
  background: $backgorundColor;
}

//滚动条样式
*::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;
  height: 1px;
}

*::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: $SubColor;
}

*::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: $backgorundColor;

}


//animate
/*进入过渡的结束状态，元素被插入时就生效，在过渡过程完成后移除*/
.big-enter-active {
  right: 80px;
  opacity: 1;
}
/*进入过渡的开始状态，元素被插入时生效，只应用一帧后立刻删除*/
.big-enter {
  right: 10px;
  opacity: 0;
  transition: right 3s, opacity .1s;
}
/*离开过渡的开始状态，元素被删除时触发，只应用一帧后立刻删除*/
.big-leave-to {
  right: 80px;
  opacity: 1;
}
/*离开过渡的结束状态，元素被删除时生效，离开过渡完成后被删除*/
.big-leave-active {
  right: 10px;
  opacity: 0;
  transition: right .3s, opacity .1s;
}

.customFade-enter-active {

  opacity: 1;
}
/*进入过渡的开始状态，元素被插入时生效，只应用一帧后立刻删除*/
.customFade-enter {

  opacity: 0;
  transition:opacity .1s;
}
/*离开过渡的开始状态，元素被删除时触发，只应用一帧后立刻删除*/
.customFade-leave-to {

  opacity: 1;
}
/*离开过渡的结束状态，元素被删除时生效，离开过渡完成后被删除*/
.customFade-leave-active {
  opacity: 0;
  transition:opacity .1s;
}


