html, body{
  height: 100vh;
}

$navbarHeight: 64px;
$footerHeight: 50px;
$h: $navbarHeight + $footerHeight;
$contentColor: #515a6e;
$titleColor: #17233d;
$SubColor: #808695;
$disabledColor: #c5c8ce;
$borderColor: #dcdee2;
$dividerColor: #e8eaec;
$backgroundColor: #f5f7f9;
$primaryColor: #2d8cf0;
$lightPrimaryColor: #5cadff;
$darkPrimaryColor: #2b85e4;
$info: #2db7f5;
$success: #19be6b;
$warning: #ff9900;
$error: #ed4014;


.layout-footer-center{
  text-align: center;
}
.ivu-layout-footer{
  background: #fff;
  height: $footerHeight;
  color: $contentColor;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content{
  width: 100vw;
  height: calc(100vh - #{$h});
  position: fixed;
  top: $navbarHeight;
  background: $backgroundColor;
}

//滚动条样式
*::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;
  height: 1px;
}

*::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: $SubColor;
}

*::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: $backgroundColor;

}


//animate
/*进入过渡的结束状态，元素被插入时就生效，在过渡过程完成后移除*/
.big-enter-active {
  right: 80px;
  opacity: 1;
}
/*进入过渡的开始状态，元素被插入时生效，只应用一帧后立刻删除*/
.big-enter {
  right: 10px;
  opacity: 0;
  transition: right 3s, opacity .1s;
}
/*离开过渡的开始状态，元素被删除时触发，只应用一帧后立刻删除*/
.big-leave-to {
  right: 80px;
  opacity: 1;
}
/*离开过渡的结束状态，元素被删除时生效，离开过渡完成后被删除*/
.big-leave-active {
  right: 10px;
  opacity: 0;
  transition: right .3s, opacity .1s;
}

.customFade-enter-active {

  opacity: 1;
}
/*进入过渡的开始状态，元素被插入时生效，只应用一帧后立刻删除*/
.customFade-enter {

  opacity: 0;
  transition:opacity .1s;
}
/*离开过渡的开始状态，元素被删除时触发，只应用一帧后立刻删除*/
.customFade-leave-to {
  opacity: 1;
}
/*离开过渡的结束状态，元素被删除时生效，离开过渡完成后被删除*/
.customFade-leave-active {
  opacity: 0;
  transition:opacity .1s;
}

.ivu-menu-horizontal{
  height: 64px;
  line-height: 64px;
}

.ivu-table-expanded-cell{
  padding: 15px 50px!important;
}

.scan-list .ivu-table::after{
  content: none;
}

.ivu-menu, .ivu-layout-header .ivu-menu-item{
  color: $SubColor!important;
  font-weight: normal;
  transition: font-weight .2s!important;
  display: flex;
  align-items: center;
}

.ivu-menu, .ivu-layout-header .ivu-menu-item i{
  transition: all .3s;
}

.ivu-menu, .ivu-layout-header .ivu-menu-item i{
  font-size: 17px;
  line-height: 0px;
}

.ivu-menu.ivu-menu-horizontal .ivu-menu-item-active{
  color: $titleColor!important;
  font-weight: bold;
  text-shadow: 0 0 5px #e8e8e8!important;
}

.ivu-menu.ivu-menu-horizontal .ivu-menu-item-active i{
  color: $titleColor!important;
}

.leak-tree .ivu-select-selection{
  border: none;
  box-shadow: none!important;
  background: transparent;
}
.leak-tree .ivu-select-selection div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.leak-tree .ivu-select-selection div span.ivu-select-selected-value{
  padding-right: 5px;
  font-size: 20px;
  font-weight: bold;
}

.leak-tree .ivu-select-selection div i.ivu-icon{
  position: static;
  line-height: 0px;
}

.leak-tree .ivu-select-dropdown{
  min-width: 110px!important;
}

.leak-tree .ivu-tree-title{
  width: 100%;
  padding: 3px 0 3px 5px;
}

.leak-tree .ivu-tree-arrow{
  padding: 3px 0 3px 0;
}

.leak-tree .ivu-tree ul li{
  margin: 5px 0;
}

.main-box{
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2px #f2f2f2;
}



