.content{
  overflow: auto;
  padding: 20px;
}

.content .report-content{
  background: #fff;
}


.report-content .box-title{
  padding: 30px 20px 20px 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.report-content .box-title .action-buttong{

}
