.content{
  overflow: auto;
  padding: 20px;
}

.content .report-content{
  background: #fff;
}


.report-content .box-title{
  padding: 30px 20px 20px 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.report-content .box-title .action-buttong{

}

.report-content .box-content{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.report-content .box-content .title1{
  font-size: 17px;
  color: $titleColor;
}

.report-content .box-content .title2{
  font-size: 14px;
  color: $titleColor;

}

.report-content .box-content .text{
  font-size: 14px;
  color: $contentColor;
}

.report-content .box-content .line{
  margin-bottom: 15px;
}

.report-content .box-content .u1{
  padding-left: 10px;
}

.report-content .box-content .u2{
  padding-left: 20px;
}

.report-content .box-content .total-count{
  display: flex;
  justify-content: space-around;
  border: 1px solid $borderColor;
  padding: 10px 0;
  border-radius: 6px;
}

.report-content .box-content .total-count .count-unit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-unit .count{
  font-size: 18px;
  color: $titleColor;
  font-weight: lighter;
}

.count-unit .name{
  font-size: 12px;
  color: $contentColor;
  font-weight: bold;
}


