.content .add{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.title .icon{
  font-size: 40px;
  font-weight: bold;
  color: $titleColor;
}

.title .title-content{
  font-size: 20px;
  color: $titleColor;
}

.add .text{
  margin-top: 40px;
  color: $contentColor;
  font-size: 19px;
}

.scan-button.unStart{
  font-size: 35px;
  width: 100px;
  height: 100px;
}
.scan-button.starting{
  font-size: 16px;
  width: 130px;
  height: 130px;
}
.scan-button.reStart {

}

.add .scan-button{
  background-image: linear-gradient(rgba(45,140, 240,.8),$primaryColor);
  color: #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: width .7s, height .7s, font-size .3s;
  will-change: all;
  font-weight: 600;
  box-shadow: rgba(0,0,0,.3) 0px 0px 5px 1px;
  text-shadow: 0 -1px 1px rgba(0,0,0,.25);
}

.scan-button.starting:hover{
  background: $error;
}
.scan-button.starting:hover::before{
  content: "停止";
  display: block;
  position:absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  top: 10px;
  background: $error;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  border: 4px solid rgba(255,255,255, .35);
}

.scan-button.starting::before{
  content: "";
  display: block;
  position:absolute;
  z-index: 9;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  border: 4px solid rgba(255,255,255, .35);
}
.scan-button.starting::after{
  content: "";
  display: block;
  position:absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  border: 4px solid rgba(255,255,255, 1);
  border-bottom: none;
  border-left: none;
  border-top: none;
  animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
  animation-duration: 2s;
  animation: rotate linear 3.5s infinite;
}

.scan-button.unStart::before{
  content: "";
  display: block;
  position:absolute;
  z-index: -2;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(45,140,240,.7);
  opacity: 0;
  animation: yls 1500ms linear infinite;
}
.scan-button.unStart::after{
  content: "";
  display: block;
  position:absolute;
  z-index: -2;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(45,140,240,.7);
  opacity: 0;
  animation: ylss 1500ms linear infinite;
}
@keyframes yls{
  0%{
    transform: scale(1);
    opacity:.5;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ylss{
  0%{
    transform: scale(1);
    opacity:.5;
  }
  100%{
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.content .scan-header{
  padding: 20px 15px;
//display: flex;
//align-content: center;
//justify-content: space-around;
}

.scan-header .header-item{
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
}

.header-item i{
  font-size: 40px;
  color: #55648a;
  margin-left: 5px;
}

.header-item .con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.header-item .con .name{
  color: $titleColor;
  font-size: 14px;
}

.header-item .con .value{
  color: $contentColor;
  font-size: 22px;
  font-weight: lighter;
}

.detail-data{

}

.real-message{

}

.main-box{
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px #f2f2f2;
  overflow: hidden;
  margin-bottom: 15px;
}

.box-content{
  display: flex;
  background: white;
  padding: 10px;
}

.main-box .box-title{
  width: 100%;
  border-bottom: 1px solid $dividerColor;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: $titleColor;
}

.box-title .title-icon{
  width: 20px;
  height: 20px;
  background: rgb(210,218,234);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 12px;
}

.line1, .line2{
  display: flex;
}

.line1{
  width: 100%;
  height: 70%;
}

.line2{
  width: 100%;
  height: 30%;
}

.line1 #leakChart{
  width: 100%;
  height: 100%;
  padding: 10px;
}

.line2 .chartItem{
  width: 33.333333333%;
  height: 100%;
  //padding: 10px;
}

.leak-item{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid $dividerColor;
  overflow: hidden;
}

.leak-item span{
  font-size: 13px;

}

.leak-item .leak{
  width: 50%;
  font-weight: bold;
}

.leak-item .url{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



